body{
    background: #f2f2f2;
    margin: 0;
    color: #333;
    font-family: sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    padding: 0 20px;
    margin: 0 auto;
}

#topo{
    background: #272930;
    width: 100%;
    overflow: hidden;
}

.logo{
    color: #fff;
    font-size: 38px;
    text-transform: uppercase;
    float: left;
    padding-top: 15px;
}

.logo img{
    vertical-align: middle;
}
.menu{
    float: right;
}

.menu .nav{
    padding: 0;
    list-style: none;
}

.menu .nav li{
    display: inline-block;
    padding: 15px 15px;
}

.menu .nav li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu .nav li a:hover{
    color: #2d6ff7;
    text-shadow: 2px 2px 16px #040250;
}

#banner{
    background: url('../imagens/anotacoes.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}

#banner h2{
    text-align: center;
    margin: 0;
    padding-top: 130px;
    font-size: 62px;
    color: #fff;
    position: relative;
    text-shadow: 2px 4px 10px #333;
}

#banner .filtro{
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
}

#conteudo{
    min-height: 500px;
}

#conteudo .container{
    background: #fff;
    border: 1px solid #ddd;
}

#conteudo .figura{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #999;

}
#conteudo .info{
    width: 75%;
    float: left;
    padding: 25px 20px;
    box-sizing: border-box; /*calcular automaticamente o padding*/
    text-align: justify;
    line-height: 25px;
}

#conteudo .lateral{
    width: 25%;
    float: right;
    padding: 25px 15px;
    box-sizing: border-box; /*calcular automaticamente o padding*/

}

.lateral .ultimas-noticias{
    overflow: hidden;
    margin-bottom: 20px;
}
.lateral .ultimas-noticias img{
    float: left;
    width: 30%;
    border: 1px solid #999;
    box-sizing: border-box;/*calcular automaticamente o padding*/
}

.lateral .ultimas-noticias h3{
    text-align: justify;
    float: right;
    width: 70%;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding-left: 10px;
}

.lateral .menu-lateral{
    margin-top: 40px;
}

.lateral .menu-lateral ul{
    list-style: none;
    padding: 0;

}
.lateral .menu-lateral ul li{
    border-bottom: 1px dashed #ddd;
    font-weight: bold;

}

.lateral .menu-lateral a{
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding-left: 10px;
    width: 100%;
    display: inline-block;
}

.lateral .menu-lateral ul li:hover{
    background: #272930;
}

.lateral .menu-lateral ul a:hover{
    color: #2d6ff7;
    text-shadow: 2px 2px 15px #040250;
}

.rodape{
    background: #272930;
    color: #ddd;
    padding: 30px 10px;
    
    text-align: center;
}

.subtitle{
    font-size: 18px;
    color: #2d6ff7;
    margin-top: 0;
}

.contato input, .container textarea, .container select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    min-width: 350px;
    background: #eeeeee;
    margin-bottom: 10px;
}

.container label{
    width: 100;
    display: block;
}

.container button{
    width: 200px;
    min-width: auto;
    border: 1px solid #333;
    display: block;
    background: #2d6ff7;
    color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    cursor: pointer;
}

.container input[type='color']{
    min-width: 25px;
    padding: 0;
}

.container input[type='checkbox']{
    min-width: auto;
    padding: 0;
}

.container input[type='radio']{
    min-width: auto;
    padding: 0;
}

